* {
  margin: 4px;
  color: #013944;
}

body{
  background-color: #92d0ea26;
}

h1, h2{
  text-align: center;
  padding: 20px;
 
}

h1 {
  font-family: 'Ysabeau SC', sans-serif;
}
h2, h3{
  font-family: 'Ysabeau Office', sans-serif;
}
p {
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 18px;
}

img {
  width: 60%;
  height: 60%;
}

footer{
  font-size: 12px;
  margin-top: 50px;
}

.centre, footer, form{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.navbar{
  margin: auto;
  width: 80%;
}

.navbar-text{
   color: #015c6e;
}

.navbar-text:hover {
  color: #013944;
  cursor: default;
}

.border-bottom{
  margin-bottom: 10px;
}

.home-page-div{
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 1px solid #15515e;

}
.home-page-div img {
  width: 40%;
  height:40%;
}

.btn{
margin: 5px;
color: #013944;
border-color:#013944;
}

.btn:hover{
  background-color: #013944;
}

.form-control{
  width: 350px;
}

.alert-danger{
  width: 300px;
  font-size: 14px;
  text-align: center;
  margin: auto;
}

.bucketListDiv{
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 60%;
  height: 60%;
}

.bucketListDiv >img{
  transition: transform 0.5s ease;
}

.bucketListDiv >img:hover {
  transform: scale(1.02);
}

.img-div > img{
  width: 30%;
  height: 30%;
}

.reflections{
  width: 700px;
}


#add-bucket-list{
font-style: italic;
font-weight: 200;
}

#howto >p,
#homepage >p,
.itineraryDiv >p,
.btn-div{
  padding: 10px;
}

.itineraryDiv{
  margin: 20px;
}
.bucketimg img{
  width: 40%;
  height: 40%;
}
.activity-div {
  width: 300px; 
  height: 300px; 
  position: relative; 
  overflow: hidden; 
  text-align: center; 
  margin: 10px;
}

.activity-div img {
  width: 90%; /* reduce to create padding effect */
  height: 80%; /* reduce to make space for the text */
  object-fit: cover;
  margin: 5%; 
}

.activity-div p {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px 15px 15px 15px;
  margin: 10px 5px 5px 5px;
  font-size: 24px;
}

.activity-div.selected {
  background-color: #015c6e;
  color: #fff;
}
.activity-div.selected p {
  color: #fff;
}

.container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-div > div {
  flex: 0 0 48%;
  box-sizing: border-box;
}