* {
  margin: 4px;
}

body{
  background-color: #bbc9cf;
}

h1{
  text-align: center;
}

img {
  width: 40%;
  height: 40%;
}

.navbar{
  margin: auto;
  width: 80%
}
.navbar-text:hover {
  color: #212529;
  cursor: default;
}

.bucketListDiv{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.home-page-div{
  margin: auto;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  width: 450px;
  height: 350px;
}

.btn{
margin: 5px;
}

.form-control{
  width: 350px;
}

.alert-danger{
  width: 300px;
  font-size: 14px;
  text-align: center;
}

.bucketListDiv {
  border: 1px solid #000;
  transition: transform 0.3s ease;
}

.bucketListDiv:hover {
  border-color: rgb(117, 116, 116);
  transform: scale(1.01);
}

.img-div > img{
  width: 30%;
  height: 30%;
}

#name-form{
  width: 200px;
}