* {
  margin: 4px;
  
}
.navbar-text:hover {
  text-decoration: underline;
  color: #212529;
  cursor: default;
}

.bucketListDiv{
  margin: auto;
  padding: 5px;
}

img {
  width: 40%;
  height: 40%;
}

.btn{
margin: 5px;
}

#name-form{
  width: 200px;
}

.form-control{
  width: 350px;
}

.alert-danger{
  width: 300px;
  font-size: 14px;
  text-align: center;
}